.home, .biblioteca, .login, .artist{
    width: 100%;
    background-color: #121212;
    color: white;
}

.home{
    background: url(./images/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login{
    background: url(./images/bg-login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.artist{
    background: url(./images/bg-artist.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.App-container{
    display: flex;
    flex-direction: row;
}
